*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}

html,body{
   height:100%;
   width:100%;
   margin:5%;
}
table{
    border:2px solid black;
    border-collapse: collapse;
    height:50%;
    width:80%;
}
th,td{
    border:1px solid black;
    text-align: center;
}
th{
    background-color:hsl(24, 49%, 61%)
}
tr:nth-child(2){
    background-color:rgb(234, 214, 208);
}




 /* .main{ 
    background-color: rgb(201, 139, 25);
    height:50px;
    width:100%;
    gap:50px;
    display:flex;
    justify-content: space-around;
    border:3px solid black;
}
#text{
    margin-left:7%;
    background-color: bisque;
    height:50px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.logo{
    padding-left: 153px;
}
.google{
    padding-left:40%;
}
.branch{
    font-size:medium;
    margin-left: 50px;
    border-spacing: 5px; 
}

#border{
    border:2px solid black;
}   */